@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
nav{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0,0,0,0.3);


}  
nav p{
    font-weight: bold;
    color: whitesmoke;
    letter-spacing: 2px;
    margin-left: 50px;
}
nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-right: 80px;

}
nav ul li{
    margin: 0 10px;
    padding: 0 20px;
}
nav ul li a{
    text-decoration: none;
    color: deepskyblue;
    letter-spacing: 1.5px;
}
 

header{
    width: 100%;
    height: 100vh;

    background-color: midnightblue;
}
.intro-text{
   width: 80%;
   height: 80vh;
   display: flex;
   justify-content: center;
   align-items: left;
   flex-direction: column;
   
}

.intro-text h1{
    color: deepskyblue;
    margin-left: 30px;
    font-size: 40px;
    letter-spacing: 2px;
    
}
.intro-text h2{
    color: deepskyblue;
    margin-left: 30px;
    font-size: 30px;
    letter-spacing: 3px;
}

.proj{
    width: 100%;
    height: auto;
    
}
.proj h1{
    font-size: 30px;
    padding-top: 50px;
    text-align: center;
    letter-spacing: 3px;
    color: midnightblue;
    text-transform: uppercase;
}

.project-container{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: wrap;
    width: 100%;  
}
.items{
    width: 300px;
    height: 300px;
    position: relative;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
    border-radius: 5px;
    background-image: url(/App/denise.jpg);
    background-position: center;
    background-size: cover;
    margin: 50px;
    
}
.text{
    background-color: whitesmoke;
    width: 100%;
    height: 90px;
    padding: 15px 10px;

}
.text a{
    margin-top: 15px;
    text-decoration: none;
    color: deepskyblue;
    padding: 7px 13px;
    display: block;
    text-transform: uppercase;
}
.text h3{
    color: deepskyblue;
    text-transform: uppercase;
}
.socialicons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 80px;
    width: 80%;
    margin: auto;
}
.tw{
    font-size: 28px;

    width: 300px;
    height: 170px;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 15px;
}
.fb{
    font-size: 28px;
    
    width: 300px;
    height: 170px;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 10px;
}
.gm{
    font-size: 28px;
    
    width: 300px;
    height: 170px;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 15px;
}

.tw h2{
    font-size: 20px;
    letter-spacing: 1px;
    color: midnightblue
}
.fb h2{
    font-size: 20px;
    letter-spacing: 1px;
    color: midnightblue;
}
.gm h2{
    font-size: 20px;
    letter-spacing: 1px;
    color: midnightblue;
}
.contacts{
    padding-top: 60px;
    text-align: center;
    width: 100%;
    height: 60vh;
    margin-bottom: 60px;

}
.contacts h1{
    text-transform: uppercase;
    color: midnightblue;
    letter-spacing: 3px;
    font-size: 30px;
    margin: 10px;
    

}
button{
    color: midnightblue;
    display: none;
}
.about{
    width: 100%;
    height: 61vh;
    padding: 100px;
    text-align: center;
    background-color: rgb(243,243,243);
}
.about h1{
    color: midnightblue;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
hr{
    color: deepskyblue;
    width: 87%;
    margin: 0 auto;
}
.about-text{
    width: 80%;
    margin: 0 auto;
    font-size: 17px;
    padding-top: 30px;
    letter-spacing: 1.5px;
    text-align: left;
    color: deepskyblue;
}




@media (max-width:480px) {
    .items{
        width: 250px;
        height: 250px;
      
    }
    nav ul{
        position: fixed;
        background-color: whitesmoke;
        width: 100%;
        height: 100vh;
        top: 10%;
        flex-direction: column;
        text-align: center;
        z-index: 9;
        left: 0;
        box-shadow: 0 0 5px rgba(0,0,0,0.3);
        transform: translateX(180%);
        transition: .3s;
    }
    nav ul li{
        margin: 25px;
    }
    
    nav ul li a{
        color: midnightblue;
        font-weight: bold;
        font-size: 20px;
        text-transform: uppercase;
        
    }
    button{
        display: block;
        padding: 5px 4px;

    }
    nav ul.show{
        transform: translateX(0);
    }
    .socialicons{
        display: flex;
        flex-direction: column;
    }
    
    
}
@media (max-width:800px) {
    .tw{
        font-size: 20px;
        font-family: sans-serif;
        width: 200px;
        height: 150px;
        box-shadow: 0 0 8px rgba(0,0,0,0.3);
        border-radius: 10px;
        box-sizing: border-box;
        padding: 15px;
}
    .fb{
        font-size: 20px;
        font-family: sans-serif;
        width: 200px;
        height: 150px;
        box-shadow: 0 0 8px rgba(0,0,0,0.3);
        border-radius: 10px;
        box-sizing: border-box;
        padding: 15px;
    }
    .gm{
        font-size: 20px;
        font-family: sans-serif;
        width: 200px;
        height: 150px;
        box-shadow: 0 0 8px rgba(0,0,0,0.3);
        border-radius: 10px;
        box-sizing: border-box;
        padding: 15px;}
    
        nav ul{
            position: fixed;
            background-color: whitesmoke;
            width: 100%;
            height: 100vh;
            top: 10%;
            flex-direction: column;
            text-align: center;
            z-index: 9;
            left: 0;
            box-shadow: 0 0 5px rgba(0,0,0,0.3);
            transform: translateX(180%);
            transition: .3s;
        }  
        nav ul.show{
            transform: translateX(0);
        }
        nav ul li{
            margin: 35px;
        }
        nav ul li a{
            color: midnightblue;
            font-size: 1.4rem;
        }
        button{
            display: block;
            padding: 5px 4px;
    
        }
    
    }





    
    

    


